doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Game
        script(src="/static/scripts/constants.js") 
        script(src="/static/scripts/p5/p5.min.js" async) 
        script(src="/static/scripts/p5/extra.js") 
        script(src="/static/scripts/Sky.js") 
        script(src="/static/scripts/Moving.js")
        script(src="/static/scripts/Platform.js") 
        script(src='/static/scripts/Ground.js') 
        script(src="/static/scripts/Player.js") 
        script(src="/static/scripts/Flag.js") 
        script(src="/static/scripts/levels/level1.js") 
        script(src="/static/scripts/levels/level2.js" defer) 
        script(src="/static/scripts/levels/level3.js" defer) 
    body
        script(src="/static/scripts/script.js") 